@model SignalR.Server.MVC.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
</head>
<body>
    <fieldset>
        <legend>个人信息</legend>
        <div>
            <ul>
                <li>姓名：@Model.UserName</li>
                <li>性别：@Model.Gender</li>
                <li>分组：@Model.GroupName</li>
            </ul>
        </div>
    </fieldset>
    <div>
        <label>昵称：</label><input type="text" id="txtName" value="@Model.UserName" />
        <br />
        <label>消息：</label><input type="text" id="txtMsg" value="这是一条来自火星的消息，hello，地球人！" />
        <hr />
        <button id="sendtoserver">发送</button>
    </div>
    <div>
        <label>收到的消息：</label>
        <ul id="ulMsg">

        </ul>
    </div>
</body>
</html>
<script>
    $(function () {
        $.connection.molHub.client.onMessage = function (msg) {
            addMsga(msg);
        }

        $.connection.hub.qs = { gender: "@Model.Gender", userName: "@Model.UserName", groupName: "@Model.GroupName" }
        $.connection.hub.start().done(function (data) {
            console.log(data);
            addMsga("与服务端连接成功！");
        }).fail(function () {
            addMsga("与服务端连接失败！");
        });
        $('button#sendtoserver').click(function () {
            $.connection.molHub.server.sendMessage($('input#txtName').val(), $('input#txtMsg').val());
        });
    });
    function addMsga(msg)
    {
        $('<li>' + msg + '</li>').appendTo($('ul#ulMsg'));
    }
</script>
